---
import Container from "@components/Container.astro";
import Layout from '@/layouts/Layout.astro';
import { db } from '@/lib/neon';

import Data from '@/sections/Data.tsx';

const response =  await  db`SELECT NOW() as current_time`;
const currentTime = response[0].current_time;
---


<Layout title="Database Test" description="Test page for database connection">
  <Container>
    <h1>Tiempo actual</h1>
    <p>El tiempo es: {currentTime}</p>
    <Data client:load />
  </Container>
</Layout>