---
import Layout from "@/layouts/Layout.astro";
import Container from "@components/Container.astro";

const error = Astro.url.searchParams.get("error");
---

<Layout title="Login">
  <Container className="flex flex-col items-center justify-start min-h-screen">
    <h1 class="text-4xl font-bold mb-8">Inicio de sesi칩n</h1>
    <form class="w-full max-w-sm" method="post" action="/api/login">
      <div class="mb-4">
        <label
          class="block text-gray-100 text-lg font-bold mb-4"
          for="password"
        >
          Contrase침a de administrador
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none ring-teal-500/50 focus:ring-4"
          id="password"
          type="password"
          name="password"
          required
          placeholder="Contrase침a..."
        />
      </div>
      <div class="flex flex-col items-center justify-center">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer"
          type="submit"
        >
          Login
        </button>
        {
          error && (
            <p class="text-red-500 text-xs italic mt-4">
              Inicio de sesi칩n incorrecto: {error}
            </p>
          )
        }
      </div>
    </form>
  </Container>
</Layout>
